body{
    font-size: 15px;
}
.ck-editor__editable,
textarea {
    min-height: 150px;
}
.logo{
    width:100%;
}
.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.row_changed{
    background: rgba(214, 247, 2, 0.3) !important;
}

.web_changed{
    background: rgba(247, 2, 2, 0.3) !important;
}
#product_img_div{
    border: 1px dashed #ccc;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 7px;
}
.sidebar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: #c5330e;
}
.sidebar .nav-link.active {
    color: #fff;
    background: #dc5e00;;
}
.sidebar .nav-link:hover {
    color: #ffffff;
    background: #c5330e;
}
.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 .5rem 0 0;
    font-size: .875rem;
    color: #ffffff;
    text-align: center;
}
.sidebar .nav-link.active .nav-icon {
    color: #ffc48b;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #dd5e00;
    border-bottom: 1px solid #c8ced3;
    color: #fff;
    font-size: 20px;
}
.ybox {
    background: #ad3011;
    padding: 24px 1px;
}
.ybox:hover {
    background: #455A64;
}
.dashnumber {
    font-size: 50px;
    padding-right: 16px;
    font-weight: 600;
    padding-top: 17px;
    padding-left: 22px;
    color: #fff;
}
.ybox .dashhead {
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    margin-top: 25px;
    text-transform: uppercase;
}
a:hover {
    text-decoration: none !important;
}
.btn {
    border-radius: 0px;
    padding: 4px 9px;
    font-size: 12px;
}
.btn-primary {
    color: #fff;
    background-color: #c5330e;;
    border-color: #c5330e;;
}.btn-primary:hover {
     color: #fff;
     background-color: #c5330e;
     border-color: #c5330e;
 }
.btn-info {
    color: #fff;
    background-color: #263238;
    border-color: #263238;
}
.btn-danger {
    color: #fff;
    background-color: #c5330e;
    border-color:  #c5330e;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #c5330e;
    background-color: #fff;
    border: 1px solid #c8ced3;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #c5330e;;
    border-color: #c5330e;;
}
.badge-info {
    color: #c5330e;;
    background-color: #fff;

}
.badge-info {
    color: #c5330e;;
    background-color: #fff;
    padding: 7px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
    border: 1px solid #c5330e; !important;
}
.table td{
    border: 0px #fff;
}
.addbtn {
    color: #c5330e !important;
    background-color: #ffffff !important;
    border-color: #c5330e;
    font-weight: 600;
    right: 35px;
    position: absolute;
    z-index: 11;
    top: 27px;
    padding: 5px 29px !important;
}
.logicon a span{
    color: #c5330e;
}
.dropdown-toggle::after {
    margin-right: 14px;
    color: #c5330e;
}
header .navbar-nav .dropdown-menu {
    position: absolute;
    top: 37px;
    margin-left: -35px;
}
.brand-txt{
    position: absolute;
    bottom: 20px;
    z-index: 1;
    right: 30px;
    font-size: 11px;
    color: #575454;
}
.login-btn {
    border-radius: 0px;
    padding: 8px 9px;
    font-size: 16px;
}
/* Styles the thumbnail */

a.lightbox img {
    width: 85px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);

}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    left: 0;
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden !important;
    z-index:1111;

}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    overflow:scroll;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 0;
}